:root {
    --background_color: linear-gradient(180deg, #C4C4C4 69.14%, #E0E0E0 101.17%);
    --gray: #E0E0E0;
    --txt_color: #000F43;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    background: var(--background_color);
}

.bg-gray{
    background-color: var(--gray);
}

.full_container{
    position: relative;
    width: 100%;
    height: 100%;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroContainer{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

h1{
    font-family: Copperplate;
    color: white;
}

.MinLogo{
    position: fixed;
    top: 4%;
    left: 4%;
    font-family: Copperplate;
    font-size: 28px;
    color: white;
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.logoTxt{
    position: fixed;
    z-index: 2;
    font-size: 110px;
}


.card_picture{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.background_animation{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a5a5a5;
    overflow: hidden;
}

.row{
    display: flex;
}

.col{
    flex-direction: column;
    flex: 1;
}

.pictureHero2{
    position: absolute;
    bottom: 0;
    width: 35vw;
    height: 80vh;
    object-fit: cover;
}

@media (min-width: 1201px) {
}

/* medium screen */
@media (min-width: 769px) and (max-width: 1200px) {
    .logoImg{
        height: 80vw;
    }
    .logoTxt {
        font-size: 10vw;
    }
}

/* min screen */
@media (max-width: 768px) {
    .logoImg{
        height: 120vw;
    }
    .logoTxt {
        font-size: 13vw;
    }
    .pictureHero2{
        width: 100vw;
        height: 52vh;
    }
}


@font-face {
    font-family: Copperplate;
    src: url("fonts/CopperplateCC-Bold.otf") format("opentype");
}