:root {
    --background_color: #C4C4C4;
    --txt_color: #000F43;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--background_color);
}

.heroContainer{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1{
    font-family: Copperplate;
    color: white;
}

.MinLogo{
    position: absolute;
    top: 4%;
    left: 4%;
    font-family: Copperplate;
    font-size: 28px;
    color: white;
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.logoTxt{
    z-index: 1;
    font-size: 110px;
}

@media (min-width: 1201px) {}

/* medium screen */
@media (min-width: 769px) and (max-width: 1200px) {
    .logoImg{
        height: 95vw;
    }
    .logoTxt {
        font-size: 10vw;
    }
}

/* min screen */
@media (max-width: 768px) {
    .logoImg{
        height: 95vw;
    }
    .logoTxt {
        font-size: 11vw;
    }
}
 

@font-face {
    font-family: Copperplate;
    src: url("fonts/CopperplateCC-Bold.otf") format("opentype");
}

